.container{
padding: 20px;
display: flex;
align-items: center;
justify-content: center;
flex-direction: column;
margin: 20px;

}


.border{
    border: none;
    outline: none;
    padding: 12px 0;
    background-color: #3bb19b;
    border-radius: 20px;
    /* width: 180px; */
    font-weight: bold;
    font-size: 14px;
    cursor: pointer;
    

}

.success_img{
    width: 10%;
    height: 20%;
    margin-bottom: 20px;
    padding: 0;
    cursor: pointer;
}