

body {
  font-family: "Arial", sans-serif;
}

.time-slots {
  display: grid;
  grid-template-columns: repeat(4, 1fr); /* 4 columns for 8 am to 10 pm */
  gap: 5px;
  margin: 20px;
}

.time-slot {
  border: 1px solid #ccc;
  padding: 10px;
  text-align: center;
  background-color: skyblue;
  border-radius: 6px;
}
