.wrapper {
  display: flex;
  flex-direction: row;

}

.h{
  display: inline-block;
  padding: 5px 10px; /* Adjust padding as needed */
  border: 1px solid #ccc; /* Border color */
  border-radius: 5px; /* Border radius */
  background-color: #f0f0f0; /* Background color */
  color: white; /* Text color */
  background-color:#0E46A3;
  font-weight: bold; /* Bold font */
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1); /* Box shadow */
}


/* .wrapperLeft {
  display: flex;
  flex-direction: column;
  flex: 2;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  padding: 10px;
  box-shadow: 1px 1px 10px grey;
  border-radius: 10px;
  border: 2px solid grey;

} */

.wrapperRight {
  display: flex;
  flex-direction: column;
  border: 1px dotted black;
  margin: 2px;
  padding: 2px;
  box-shadow: 1px 1px 10px grey;
  border-radius: 10px;
  align-self: flex-end; /* Align to the right side */
  margin-left: auto; /* Push to the right side */
  align-items: center;
  justify-content: center;
}

.boxSection {
  display: flex;
  flex: 2;
  align-items: flex-start; /* Align items to the left */
  justify-content: center;
  margin-top: 50px;
  width: 800px;
  height: 200px;
  border-radius: 14px;
}

.leftSide img {
  /* width: 100%; */
  max-width: 150px;
  border-radius: 50%;
}

.rightSide {
  flex-grow: 1;
  margin-left: 20px;
}

.rightSide h2 {
  margin-bottom: 10px;
  color: #333;
}

.rightSide p {
  margin: 0;
  color: #666;
}

.bookingSection {
  padding: 20px;
  text-align: center;
  right: 10px;
  width: 200px;
  height: auto;
  margin-top: 10px;
  margin-right: 50px;
  margin-top: 40px;
  border-radius: 10px;
  margin-left: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 2px solid rgba(0, 0, 0, 0.347);
}

h2 {
  color: #333;
}

.sessionOptions {
  display: flex;
  flex-direction: column; /* Align items horizontally */
}

.label {
  border: 2px solid #333;
  margin: 5px;
  background-color: #fff;
  padding: 10px;
  font-size: 1.4rem;
  border-radius: 10px;
}

.button {
  padding: 20px 30px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-top: 10px;
  border-radius: 10px;
}

.button:hover {
  background-color: #0056b3;
}

.free {
  color: green;
  font-size: 1rem;
  font-style: italic;
}

.warningText {
  font-family: Arial, sans-serif; /* Fallback fonts */
  font-size: 18px; /* Adjust size as needed */
  font-weight: bold; /* Make the text bold */
  color: #ff0000; /* Red color for warning */
  text-transform: uppercase; /* Convert text to uppercase */
  letter-spacing: 1px; /* Add some letter spacing for emphasis */
  justify-content: center;
}

/* price.module.css */
/* price.module.css */
/* price.module.css */

.timeSlots {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 8px; /* Adjust the gap between items */
  border: 2px solid black;
  padding: 10px;
  border-radius: 10px;
  
}

.button {
  background-color: #ffffff;
  border: 1px solid #cccccc;
  color: #333333;
  padding: 8px 16px;
  font-size: 14px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.button:hover {
  background-color: #f0f0f0;
}

.blueButton {
  background-color: #3399ff;
  color: #ffffff;
  border-color: #3399ff;
}

.blueButton:hover {
  background-color: #2672c2;
}

.warningText {
  font-family: Arial, sans-serif;
  font-size: 18px;
  font-weight: bold;
  color: #ff0000;
  text-transform: uppercase;
  letter-spacing: 1px;
  justify-content: center;
}

/* @media screen and (max-width: 768px) {
  .wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
  }

  .wrapperLeft {
    flex: none;
    margin-bottom: 20px;
  }
} */



@media screen and (max-width: 700px) {
  .wrapper {
    flex-direction: column;
    align-items: center;
  }

  .wrapperLeft {
    flex: none;
    margin-bottom: 20px;
  }

  .wrapperRight{
    margin:auto
  }

  .card {
    margin: auto;
  }

  .boxSection {
    display: flex;
    align-content: center;
    justify-content: center;
    height: auto;
    width: 100%;
  }

  .bookingSection {
    margin: auto;
    display: flex;
    font-display: column;
    align-items: center;
    justify-content: center;

  }

  .button {
    padding: 12px 24px;
    font-size: 16px;
  }

  .timeSlots {
    grid-template-columns: repeat(2, 1fr);
    margin:10px;
  }

  .label {
    font-size: 1.2rem;
  }
}
